*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    /*background-image: linear-gradient(#8662dc ,#2d5dd2);*/
    background-color:#2d5dd2;
    font-family: 'Arial Rounded MT Bold', 'Helvetica', 'Gill Sans', sans-serif;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width:100%;
}

#banner{
    border-bottom: 2px #6862dc solid;
    box-shadow: 3px 3px 100% #6862dc;
    /*display: flex;*/
    /*justify-content: center;*/
    height: 200px; 
    position: relative;
    text-align: center;
    overflow: hidden;
}
#banner img{
    width: 100%;  
}

/*#banner:hover{
    opacity: 70%;
}*/

/*#banner p*/ .welcome{
    position: absolute;
    top: 80px;
    left: 15%;
    color: white;
    font-size: 50px;
    letter-spacing: 8px;
    font-weight: bold;
    text-shadow: 2px 2px 10% #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    font-family: 'Trebuchet MS';

}

.profilePic{
    position: absolute;
    max-height: 100px;
    max-width: 100px;
    top: 60px;
    right: 45px;
}

.profilePic:hover{
    transform: translateY(-0.25em);
    border-radius: 50%;
}

.profilePic:active{
    transform:scale(1,1);
}
.signIn{
    color: #fff;
    position: absolute;
    top: 150px;
    right: 64px;
    font-size: 20px;
    transition: color .15s, scale .5s;

}

.signIn:hover{
    color: #000;
}

.signIn:active{
    transform:scale(1.1,1.1);

}

#navbar{
    height: 80px;
    position: relative;
}

#navbar ul{
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

#navbar li{
    text-decoration: none;
    list-style: none;
    border: 2px solid black;
    margin: 10px 30px;
    padding: 5px;
    font-size: 20px;
    box-shadow: 3px 3px 0 #000;
    background-color: #fff;
    font-family: 'Trebuchet MS';
}

#navbar li:hover{
    transform: translateY(-0.25em);

}
#navbar li:active{
    background-color: rgb(99, 57, 171);
    color: white;
    transform: scale(1,1);

}

.container:first-child{
    height: 300px;
}

.container{
    height: 1400px;
}

.contentBlock{
    height:400px;
    /*background-color: #6f6ad9;
    border: 8px solid #554edc;*/
    background-color: #3461d2;
    border-radius: 0px;
    margin: 0 10px 90px 10px;
    
}

.title{
    color: #fff;
    font-size: 30px;
    position: relative;
    top: 10px;
    margin: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    /*text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;*/
}

.contentBoxes{
    display: flex;
    overflow-x: auto;
}

.contentBox{
    border: 1px solid black;
    background-color: #fff;
    height: 320px;
    min-width: 250px;
    margin: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    overflow: hidden;
    box-shadow: 1px 1px 2px #000;
    
}

.contentBox:hover{
    transform: translateY(-0.25em);
}

.contentBox:active{
    transform:scale(1,1);

}

.boxPic{
    border: 1px solid black;
    position: absolute;
    max-height: 150px;
    max-width: 190px;
    top: 30px;
    left: 48px;
    
}

.boxDetails{
    position: absolute;
    top: 60%;
    padding: 0 10px 10px 15px;
    text-align: left;
}

.boxName{
    font-size: 25px;
    padding-bottom: 5px;
    font-weight: bold;
    
}

.orgName{
    color: rgb(82, 82, 82);
    padding-bottom: 5px;
    font-size: 13px;
}

.info{
    font-size: 10px;
    
}
.boxInfo{
    font-size: 13px;
    color: rgb(132, 14, 14);
}

.seeMore{
    height: 250px;
    min-width: 200px;
    margin: 20px;
    position: relative;
}

.seeMore p{
    position:absolute;
    text-align: center;
    border: 2px solid black;
    font-size: 20px;
    box-shadow: 3px 3px 0 #000;
    background-color: #fff;
    font-family: 'Trebuchet MS';
    padding: 5px;
    top: 40%;
    left:20%;


}

.seeMore p:hover{
     transform: translateY(-0.25em);
 }

 .seeMore p:active{
    background-color: rgb(99, 57, 171);
    color: white;
    transform: scale(1,1);
}

#categories.contentBlock{
    overflow-x:auto;
    margin: 0 280px;
    height: 350px;
    border-radius: 10px;
}
#categories ul{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding: 10px 60px;
}

#categories li{
    text-decoration: none;
    list-style: none;
    margin: 10px 10px;
    padding: 20px;
    font-family: 'Trebuchet MS';
    background-color:rgb(164, 164, 164);
    background-color:rgba(255, 255, 255, 0.15);
    color: white;
    border-radius: 20px;
    /*border: 2px solid black;
    font-size: 25px;
    box-shadow: 3px 3px 0 #000;
    background-color: #fff;
    */
}

#categories li:hover{
    transform: translateY(-0.25em);

}
#categories li:active{
    background-color: rgb(99, 57, 171);
    background-color: rgb(255, 196, 0);
    color: white;
    transform: scale(1,1);

}

footer{
    background-color:#1a3477;
    height: 200px;
}

footer ul{
    display: block;
    padding-top: 15px;
}

footer li{
    color: white;
    list-style: none;
    text-decoration: none;
    padding: 5px 4px;
}

footer a:hover{
    color:aquamarine;
}

footer a:visited{
    color: white;
}