{% extends 'base.html' %}

{% block content %}
    <div class="listmenu">
        <div class="eventCard">
            <div class="eventDiv">
                <img src={{ url_for('uploaded_file', filename=event['EventBanner']) }} alt="Event Banner" class="eventBannerImg"/>
                <p class="eventTitleText">{{ event['Name'] }}</p>
                <p class="eventInfoText">Event Dates: {{ event['StartDate']|format_datetime(event['EndDate']) }}</p>
                <p class="eventInfoText">Location: {{ event['Location'] }}</p>
                
                <p class="eventDescTitleText" style="text-align: left;">Event Description</p>
                <p class="eventTextMinor">{{ event['Description'] }}</p>
            </div>
        </div>
    </div>
{% endblock %}