*{
    margin: 0;
}

/* Main Layout */
body {
    background-color: #2d5dd2;
    font-family: 'Arial Rounded MT Bold', 'Helvetica', 'Gill Sans', sans-serif;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width:100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Banner Container */
.container {
    position: relative;
    text-align: center;
    color: white;
    height: 320px; 
    overflow: hidden;
}

/* Image Center */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textCenter {
    padding: 25px;
    position: absolute;
    width: 100%;
    text-align: center;
}

/* Banner and Site Text */
.banner {
    width: 100%;
}

.welcome {
    color: white;
    font-size: 50px;
    letter-spacing: 8px;
    font-weight: bold;
    text-shadow: 2px 2px 10% #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    font-family: 'Trebuchet MS';
}

/* Navigation */
.topnav {
    background-color: #e9e9e9;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float:left;
    color: #030303;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #cecece;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #a0c6e6;
    color: white;
}

.topnav .login {
    float: right;
}


/* Title */

.titleBox{
    margin: 12px;
    position: relative;
    display: grid;
}
.title{
    color: #fff;
    font-size: 30px;
    position: relative;
    top: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    /*text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;*/
}

/*see all button*/
.title.seeAll{
    position: relative;
    color: #ffffffad;
    font-size: 10px;
    text-decoration: underline;

}

/* List Menu */
div.listmenu {
    width: 96%;
    height: fit-content;
    margin: auto;
    display: flex;
    overflow: visible;
    padding-top: 20px;
}

div.listmenu a {
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.gridmenu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: hidden;
    width: 98%;
    margin:auto;
    
}

div.admingridmenu {
    display: grid;
    top: 50%;
    left: 50%;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: hidden;
    padding-left: 350px;
}

div.gridmenu a {
    color: black;
    padding: 14px;
}

/* modified gridmenu for organization portal*/

.gridmenu.orgPortal{
    overflow-x: visible;
    margin: auto;
    margin-top: 200px;
    grid-template-columns: repeat(5, 1fr);
}

.gridmenu.orgPortal a{
    margin-left: auto;
}


/*prizes page*/

.prizes.intro{
    margin-top:30px;
    height: 80px;
    text-align: center;
}
.prizes.title{
    color: rgb(255, 200, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}
.prizes.info{
    width: 400px;
    color:#fffefed2;
    margin:auto;
    line-height: 1.4em;
    padding-top: 15px;
}

/* modified grid menu for prizes page */
.gridmenu.prizes{
    overflow-x: visible;
    /*width: 70%;*/
    margin-top: 140px;
    margin-bottom: 100px;
    grid-template-columns: repeat(3, 1fr);
}

.prizebox{
    position: relative;
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;
    text-align: center;
    margin: 50px 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(255, 255, 255, 0.943);
    text-shadow: 1px 1px black;
}

.prize{
    height:fit-content;
    width:fit-content;
    padding: 15px;
}

.prizelabel{
    font-size: 23px;
}

.prizepoints{
    font-size: 15px;
    padding-top: 8px;
}
/* modified content boxes for org portal*/
.contentBox.orgPortal{
    border: 1px solid black;
    background-color: #fff;
    position: relative;
    box-shadow: 1px 1px 2px #000;
    min-width: 100px;
    max-width: 100px;
    min-height: 110px;
    max-height: 110px;
    border-radius: 10px;
    text-align: center;
    margin: 30px;
    font-size: 23px;
    font-weight: bold;

}
.contentBox.orgPortal p{
    position: absolute;
    top:22px;
}

#orgPortalTitle{
    position: absolute;
    color: white;
    width:fit-content;
    margin: auto;
    font-size: 40px;
    top: 200px;
    left: 200px;
}

/* Event/Organization Boxes */
.contentBox{
    border: 1px solid black;
    background-color: #fff;
    min-height: 350px;
    min-width: 200px;
    max-width: 250px;
    /*margin: 15px auto;*/
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 2px #000;
    
}

.contentBox:hover{
    transform: translateY(-0.25em);
}

.contentBox:active{
    transform:scale(1,1);

}

.boxDetails{
    top: 60%;
    padding: 0 10px 10px 15px;
    text-align: left;
    position:absolute;
}

.boxDetails.org{
    top: 60%;
    width: 80%;
    margin: auto;
    text-align:center;
}

.boxName.org{
    font-size: 23px;
}

.boxName{
    font-size: 20px;
    padding-bottom: 5px;
    font-weight: bold;
}

.orgName{
    color: rgb(82, 82, 82);
    font-size: 13px;
    padding-bottom: 5px;
}

.eventTime{
    color: rgb(126, 126, 126);
    font-size: 11px;
}

.noEvent{
    height: 100px; 
}

.noEventText{
    color: white;
    font-size: 28px;
}

/* Categories */
#categories.contentBlock{
    overflow-x:auto;
    margin: 0 280px;
    height: 350px;
    border-radius: 10px;
}
#categories ul{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding: 10px 60px;
}

#categories li{
    list-style: none;
    margin: 10px 10px;
    padding: 20px;
    font-family: 'Trebuchet MS';
    background-color:rgb(164, 164, 164);
    background-color:rgba(255, 255, 255, 0.15);
    color: white;
    border-radius: 20px;
}

#categories a{
    text-decoration: none;
    color: white;
}

#categories li:hover{
    background-color:rgba(255, 255, 255, 0.05);
    transform: translateY(-0.25em);

}
#categories li:active{
    background-color: rgb(99, 57, 171);
    background-color: rgb(255, 196, 0);
    color: white;
    transform: scale(1,1);
}

#categories a:visited{
    background-color:rgba(255, 255, 255, 0.15);
    color: white;
    text-decoration: none;
}

/*Leaderboard*/

/*background of leaderboard*/
.leaderboardCard{
    background-color: white;
    height: 500px;
    min-width: 1000px;
    max-width: 1100px;
    padding-bottom: 20px;
    margin: 30px auto;
    border-radius: 10px;
    position:relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.leaderboardTextCard{
    background-color: white;
    min-width: 900px;
    padding-bottom: 20px;
    margin: 30px auto 2px;
    border-radius: 10px;
    position:relative;
    overflow-y: auto;
    overflow-x: hidden;
}

/*header at top of leaderboard*/
.boardbanner{
    background-color: #2d5dd2;
    background-color: #a0c6e6;
    background-color: #58cfcb;

    padding:15px;
    margin: 15px 20px 0 20px;
    border-radius: 10px;
}

.boardbanner p{
    font-size: 25px;
    text-align: center;
    color: white;
}

/*Leaderboard table*/
.leaderboard{
    border-collapse: collapse;
    margin: 25px auto auto auto;
    width: 930px;
    counter-reset: step;
    position: relative;
}

/*leaderboard rank/counter*/
.leaderboard td:first-child:before{
    counter-increment: step; /*Increment counter by 1*/
    content: counter(step, decimal);
    color: blue;
    font-size: 18px;
    position: absolute;
    left: -25px;
}

/*cell borders*/
.leaderboard td{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 15px 0px;
    font-size: 18px;
}

.user{
    /*border-right: 1px solid black;*/
    width: 80%;
}

.points{
    text-align: right;
    width: 20%;
}



/* Footer */
footer{
    background-color:#1a3477;
    margin-top: auto;
    height: 50px;
}

footer ul{
    display: block;
    padding-top: 15px;
}

footer p{
    color: white;
}

/* Event/Organization Information */
.eventCard{
    background-color: white;
    max-height: 500px;
    min-width: 1000px;
    max-width: 1100px;
    padding-bottom: 20px;
    margin: 30px auto;
    border-radius: 10px;
    position:relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.eventDiv {
    padding-bottom: -100px;
}

.eventTitleText{
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 35px;
    text-align: center;
    color: black;
}

.eventInfoText{
    font-size: 14px;
    padding-bottom: 5px;
    text-align: center;
    color: black;
}

.eventDescTitleText{
    padding-left: 25px;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 30px;
    color: black;
}

.eventTextMinor {
    padding-left: 25px;
    margin-right: 20px;
    font-size: 16px;
    color: black;
}

.eventImg {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width:180px;
    max-width: 180px;
    min-height:180px;
    max-height: 180px;
    padding-top: 15px;
}

.eventBannerImg {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
    max-height: 250px;
    padding-top: 15px;
}

/*edits the way flash messages look*/
.flashes{
    background-color: #cecece;
    color: black;
    font-size: 15;
    list-style-type: none;
    text-decoration: none;
}

.eventFormCss {
    margin: 25px 25px -5px;
}

.eventFormCard{
    background-color: white;
    min-height: 500px;
    max-height: 550px;
    min-width: 1000px;
    max-width: 1100px;
    padding-bottom: 20px;
    margin: 30px auto;
    border-radius: 10px;
    position:relative;
    overflow-y: auto;
    overflow-x: hidden;
}

textarea {
    min-width: 500px;
    min-height: 150px;
}

/*edit the event tables*/
.eventTable.title{
    background-color:#a0c6e6;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 10px 0;
}
.eventTable{
    table-layout: fixed;
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    background-color: rgb(232, 230, 230);
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.eventTable a{
    text-decoration: none;
    color: black;
}

.eventTable a:visited{
    color:black;
}

.eventTable thead th:nth-child(1){
    width: 25%;
}

.eventTable thead th:nth-child(2){
    width: 18%;
}

.eventTable thead th:nth-child(3){
    width: 22%;
}

.eventTable thead th:nth-child(4){
    width: 35%;
}

.eventTable th,td{
    padding: 15px 0;
}

.eventTable tbody tr:nth-child(odd){
    background-color: rgb(218, 217, 217);
}
.eventTable tbody td:nth-child(4){
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.eventTable tbody tr:hover{
    background-color: rgb(197, 196, 196);
}

.eventTable p{
    text-align: center;
    font-size: 25px;
    background-color: none;
    color: white;
}

/*delete event confirmation page css*/

.delconfirm.message{
    width: fit-content;
    margin: auto;
    margin-top: -60px;
    position: relative;
    justify-content: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:#3361d48c;
    background-color:#2d5dd2;
    padding: 40px;
    border-radius: 15px;
}
.delconfirm.prompt{
    color: whitesmoke;
    font-size: 25px;
    width: fit-content; 
    margin-bottom: 30px;
}

.delconfirm.button{
    width: 60px;
    width:min-content;
    display: inline;
    margin: 40px 15px;
    font-size: 20px;
    border: none;
    background-color:#4b77e5;
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-decoration: none;
}


.delconfirm.button:hover{
    background-color:#4b77e583;
}

.delconfirm.button:active{
    background-color: #4b77e5;
}