body
{
    margin: 0;
    padding:0;
    font-family: sans-serif;
    background: url("../defaults/OverheadView.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/*Box class*/
.box
{
    border-radius: 5px;
    width:300px;
    min-height: 400px;
    padding:30px 25px;
    position:absolute;
    top:50%;
    left:50%;
    transform : translate(-50%, -50%);
    background-color: rgb(243, 247, 252);
    text-align:center;
}

/*Header for page*/
.box h1
{
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
}

/*password box*/
.box input[type = "text"],.box input[type="password"]
{
    border: 0;
    background:none;
    display:block;
    margin: 15px auto;
    text-align: center;
    border: 1px solid #ccc;
    height: 45px;
    width:200px;
    outline:none;
    color:rgb(0, 0, 0);
    border-width: 0 0 1px 0;
    transition:0.25px;
}

/*login box*/
.submitButton
{
    margin-top: 10px;
    padding: 8px;
    text-align: center;
    background-color: rgb(0, 51, 102);
    color:white;
    border-radius: 4px;
    width: 65%;
    cursor: pointer;
}

.externalLinks {
    font-size: 14px;
    color: rgb(0, 51, 102);
}

/*Container class*/
.container
{
    text-align:left;
    margin-top: 20px;
    margin-left: 20px;
    position:absolute;
    
}

/*home button*/
.btn
{
    border: 0;
    background:none;
    text-align: left;
    /*border: 3px solid rgb(22, 120, 218);*/
    padding: 20px 10px;
    outline:none;
    color:rgb(0, 0, 0);
    background:url(PurpleTrans.jpg);
    border-radius:100px;
    transition:0.8s;
    cursor:pointer;  
    text-overflow: wrap;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn:hover
{
    color:white;
    
}
