{% extends 'admin/orgbase.html' %}

{% block content %}
    <p id="orgPortalTitle">Welcome to the Rattler's Unite Organization Portal!</p>
    <div class="gridmenu orgPortal">
        <a href="{{ url_for('admin.add_event') }}"><div class="contentBox orgPortal"><p>Add Event</p></div></a>
        <a><div class="contentBox orgPortal"><p>Edit Event</p></div></a>
        <a><div class="contentBox orgPortal"><p>Delete Event</p></div></a>
        <a href="{{ url_for('admin.edit_org') }}"><div class="contentBox orgPortal"><p>Edit Profile</p></div></a>
        <a href="{{ url_for('admin.add_points') }}"><div class="contentBox orgPortal"><p>Assign Points</p></div></a>
    </div>
{% endblock %}