<div class="gridmenu scroll">
  {% if events %} {% for e, o in events %}
  <a href="{{ url_for('main_view.eventdetails', id=e['ID']) }}">
    <div class="contentBox">
      <img src={{ url_for('uploaded_file', filename=e['EventIcon']) }}
      class="eventImg">
      <div class="boxDetails">
        <p class="boxName">{{ e['Name']|text_limiter }}</p>
        <p class="orgName">{{ o|text_limiter(org=True) }}</p>
        <p class="eventTime">
          {{ e['StartDate']|format_datetime(e['EndDate']) }}
        </p>
        <p class="eventTime">Location: {{ e['Location'] }}</p>
      </div>
    </div>
  </a>
  {% endfor %} {% else %}
  <div class="noEvent">
    <div class="textCenter">
      <p class="noEventText">No events are currently scheduled.</p>
    </div>
  </div>
  {% endif %}
</div>
