{% extends 'base.html' %}

{% block content %}
    <div class="listmenu">
        <div class="leaderboardTextCard">
            <section class="boardbanner">
                <p>How to earn points?</p>  
            </section>    
            <div class="noEvent">
                <div class="textCenter" style="max-width: 95%;">
                    <p>
                        Earning points is easy! When you attend an event, provide the organization your ID number. Once the organization member submits the required information to get points, you should see them in your account soon. Top scorers are shown here so get to point gathering if you want to be on the board!
                    </p>
                </div>
            </div>
        </div>  
    </div>

    <div class="listmenu">
        <div class="leaderboardCard">
            <section class="boardbanner">
                <p>Leaderboard</p>  
            </section>    
            {% if board %}
                <table class="leaderboard">
                {% for n, p in board %}
                    <tr>
                        <td class="user" colspan="2">{{ n }}</td>
                        <td class="points">{{ p }} pts</td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <div class="noEvent">
                    <div class="textCenter">
                        <p>
                            Leaderboard is currently unavailable.
                        </p>
                    </div>
                </div>
            {% endif %}
        </div> 
    </div>
{% endblock %}