{% extends 'base.html' %}

{% block content %}
<div class="prizes intro">
    <h3 class="prizes title">How do I earn prizes?</h3>
    <p class="prizes info">It's easy! Each time you attend an event you will receive a certain amount
        of points. Each prize below has a number of points attached to it as a milestone to achieve. 
        Once you have earned the amount of points required, you can show your profile in the bookstore 
        and claim your prize.
    </p>
</div>
<div class="gridmenu prizes">
    <div class="prizebox">
        <img src="../static/icons/pencil.png" class="prize"></img>
        <p class="prizelabel">Pencil</p>
        <p class="prizepoints">20 points</p>
    </div>
    <div class="prizebox">
        <img src="../static/icons/notebook2.png" class="prize"></img>
        <p class="prizelabel">Notebook</p>
        <p class="prizepoints">50 points</p>
    </div>
    <div class="prizebox">
        <img src="../static/icons/tshirt2.png" class="prize"></img>
        <p class="prizelabel">T-Shirt</p>
        <p class="prizepoints">200 points</p>
    </div>
    <div class="prizebox">
        <img src="../static/icons/waterbottle2.png" class="prize"></img>
        <p class="prizelabel">Water Bottle</p>
        <p class="prizepoints">500 points</p>
    </div>
    <div class="prizebox">
        <img src="../static/icons/hoodie2.png" class="prize"></img>
        <p class="prizelabel">Hoodie</p>
        <p class="prizepoints">1000 points</p>
    </div>
    <div class="prizebox">
        <img src="../static/icons/headphones2.png" class="prize"></img>
        <p class="prizelabel">Headphones</p>
        <p class="prizepoints">5000 points</p>
    </div>

</div>



{% endblock %}