{% extends 'base.html' %}

{% block content %}
    <p class="title">Events with Category '{{ category }}'</p>
    <div class="gridmenu">
        {% if not noEvents %}
            {% for e, o in events %}
                {% if e.Category == category %}
                    <a href="{{ url_for('main_view.eventdetails', id=e['id']) }}">
                        <div class="contentBox">
                            <img src={{ e.EventIcon }} class="eventImg"/>
                            <div class="boxDetails">
                                <p class="boxName">{{ e.Name|text_limiter }}</p>
                                <p class="orgName">{{ o|text_limiter(org=True) }}</p>
                                <p class="eventTime">{{ e.StartDate|format_datetime(e.EndDate) }}</p>
                                <p class="eventTime">Location: {{ e.Location }}</p>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="noEvent">
                <div class="textCenter">
                    <p class="noEventText">
                        No events were found with the selected category.
                    </p>
                </div>
            </div>
        {% endif %}
    </div>

    {% include 'modules/categories.html' %}
{% endblock %}