{% extends 'orgbase.html' %}

{% block content %}
    <div class="container">
        <div class="centered">
            <p class="welcome">
                Rattler's Unite Organization Portal
            </p>
        </div>
    </div>

    <form method = "POST" class="eventFormCard">
        {{ form.csrf_token }}
        <section class="boardbanner">
            <p>Add Event</p>  
        </section>    
        <div class="eventFormCss">
            {{ form.Name.label }}
            {{ form.Name }}
            {% for error in form.Name.errors %}
                <span class="text-danger">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div class="eventFormCss">
            {{ form.Location.label }}
            {{ form.Location }}
            {% for error in form.Location.errors %}
                <span class="text-danger">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div class="eventFormCss">
            {{ form.StartDate.label }}
            {{ form.StartDate }}
            {% for error in form.StartDate.errors %}
                <span class="text-danger">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div class="eventFormCss">
            {{ form.EndDate.label }}
            {{ form.EndDate }}
            {% for error in form.EndDate.errors %}
                <span class="text-danger">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div class="eventFormCss">
            {{ form.Description.label }}
        </div>
        <div class="eventFormCss">
            {{ form.Description }}
            {% for error in form.Description.errors %}
                <span class="text-danger">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div class="eventFormCss">
            {{ form.Category.label }}
            {{ form.Category }}
            {% for error in form.Category.errors %}
                <span class="text-danger">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div class="eventFormCss">
            {{ form.submit }}
        </div>
    </form>
{% endblock %}