{% extends 'base.html' %}

{% block content %}
{% endblock %}

{% block category %}
    <p class="title">Categories</p>
    <div id="listmenu" class="contentBlock">
        <div id="categories">
            <ul>
                <li><a href="{{ url_for('search', category='Cooking')}}">Cooking</a></li>
                <li><a href="{{ url_for('search', category='Dance')}}">Dance</a></li>
                <li><a href="{{ url_for('search', category='Art')}}">Art</a></li>
                <li><a href="{{ url_for('search', category='Gaming')}}">Gaming</a></li>
                <li><a href="{{ url_for('search', category='Sports')}}">Sports</a></li>
                <li><a href="{{ url_for('search', category='STEM')}}">STEM</a></li>
                <li><a href="{{ url_for('search', category='Music')}}">Music</a></li>
                <li><a href="{{ url_for('search', category='Travel')}}">Travel</a></li>
                <li><a href="{{ url_for('search', category='Health')}}">Health</a></li>
                <li><a href="{{ url_for('search', category='Education')}}">Education</a></li>
                <li><a href="{{ url_for('search', category='Entertainment')}}">Entertainment</a></li>
            </ul>
        </div>
    </div>
{% endblock %}