{% extends 'orgbase.html' %}

{% block content %}
    <div class="container">
        <div class="centered">
            <p class="welcome">
                Rattler's Unite Organization Portal
            </p>
        </div>
    </div>

    <form method = "POST" class="leaderboardCard">
        {{ form.csrf_token }}
        <section class="boardbanner">
            <p>Edit Organization Description</p>  
        </section>
        <div class="eventFormCss">
            {{ form.about.label }}
        </div>
        <div class="eventFormCss">
            {{ form.about }}
        </div>
        <div class="eventFormCss">
            {{ form.submit }}
        </div>
    </form> 
{% endblock %}