{% extends 'base.html' %}

{% block content %}
    <div class="listmenu">
        <div class="eventCard">
            <div class="eventDiv">
                <img src={{ event['EventBanner'] }} class="eventImg"/>
                <p class="eventTitleText">{{ event['Name'] }}</p>
                <p class="eventInfoText">Event Dates: {{ event['StartDate']|format_datetime(event['EndDate']) }}</p>
                <p class="eventInfoText">Location: {{ event['Location'] }}</p>
                
                <p class="eventDescTitleText" style="text-align: left;">Event Description</p>
                <p class="eventTextMinor">{{ event['Description'] }}</p>
                <form method="POST" action="{{ url_for('add_points') }}">
                    <label for="code">Did you attend this event? Enter code here: </label>
                    <input type="text" id="code" name="code">
                    <button type="submit">Submit</button>
                </form>
                
            </div>
        </div>
    </div>
{% endblock %}