{% extends 'categories.html' %}

{% block content %}
    <p class="title">Events</p>
    <div class="listmenu">
        {% for post in events %}
            <a>
                <div class="contentBox">
                    <img class="boxPic" src="https://picsum.photos/200/200"/>
                    <div class="boxDetails">
                        <p class="boxName">{{ post['Name'] }}</p>
                        <p class="orgName">{{ post['Organization'] }}</p>
                        <p class="eventTime">{{ post['Date']|format_datetime }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}