{% extends 'base.html' %}

{% block content %}

    <div class="listmenu">
        <p class="title">Events</p>
        <a href="{{ url_for('main_view.events') }}" class="title seeAll">See all</a>  
    </div>
    
    {% include 'modules/events.html' %}
       
    <div class="listmenu">
        <p class="title">Organizations</p>
        <a  href="{{ url_for('main_view.organizations') }}" class="title seeAll">See all</a>   
    </div>
    
    {% include 'modules/organizations.html' %}

    <div class="titleBox">
     {% include 'modules/categories.html' %}   
    </div>
    

{% endblock %}