{% extends 'categories.html' %}

{% block content %}
    <p class="title">Events</p>
    <div class="listmenu">
        {% if events %}
            {% for post in events %}
            <a href="{{ url_for('eventdetails', id=post['ID']) }}">
                <div class="contentBox">
                    <img class="boxPic" src="https://picsum.photos/200/200" />
                    <div class="boxDetails">
                        <p class="boxName">{{ post['Name'] }}</p>
                        <p class="orgName">{{ post['Organization'] }}</p>
                        <p class="eventTime">{{ post['Date']|format_datetime }}</p>
                        <p class="eventTime">Location: {{ post['Location'] }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        {% else %}
            <div class="noEvent">
                <div class="textCenter">
                    <p class="noEventText">
                        No events are currently scheduled.
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
                    
    <p class="title">Organizations</p>
    <div class="listmenu">
        {% if organizations %}
            {% for o in organizations %}
            <a href="{{ url_for('organizationdetails', id=o['ID']) }}">
                <div class="contentBox">
                    <img class="boxPic" src="https://picsum.photos/200/200" />
                    <div class="boxDetails">
                        <p class="boxName">{{ o['Name'] }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        {% else %}
            <div class="noEvent">
                <div class="textCenter">
                    <p class="noEventText">
                        No organizations are currently available to be displayed.
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}