<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Link to stylesheeet goes here-->
    <link rel="stylesheet" href="static/css/Homepage.css">
    <title>Rattlers Unite!</title>
</head>

<body>
    <div class="container">
        <section class="banner-wrapper">
        <div ID="banner">
            <p class="welcome">Welcome to Rattler's Unite!</p>
            <a><img class="bannerPic" src="static/defaults/friendsHug.png"></a> <!--link to about us page-->
            <!--Link to sign in page-->
            <a><img class="profilePic" src="static/defaults/profilePic.png"></a> 
            <!-- <p class="signIn"><a href = "LogIn.html">Sign In</p></a> -->
        </div>
        </section>
        <div id="navbar">
            <ul>
                <li><a href="{{ url_for('main') }}">Home</a></li>
                <li><a href="{{ url_for('events') }}">Events</a></li>
                <li><a href="{{ url_for('organizations') }}">Organizations</a></li>
                <li><a>Leaderboard</a></li>
                <li><a>About Us</a></li>
            </ul>
        </div>
    </div>

    <span class="seperator"></span>

    <div class="container">
        <div class="blockWrapper"> <!--ignore may not need-->
            {% block content %} {% endblock %}
        </div>
    </div>

    <footer>
        <ul>
            <li><a>Profile</a></li>
            <li><a>Events</a></li>
            <li><a>Organizations</a></li>
            <li><a>Leaderboard</a></li>
            <li><a href=#categories>Categories</a></li>
            <li><a>About Us</a></li>
        </ul>
    </footer>
</body>



</html>