
<!DOCTYPE html>
<html lan="en" and dir="Itr">
<head>
    <meta charset = "utf-8">
    <title>Rattlers Unite!</title>
    <link rel ="stylesheet" href = "../static/css/LogIn.css">
</head>
    
<body>
    <form action ="{{ url_for('loginMethod') }}" method = "POST" class ="box" action="login.html" method = "POST">
        <div class="loginLogo">
            <img src="../static/defaults/STMUlogo.png" height="100px">
        </div>
        <h1>Login</h1>
        
        {% if error %}
            <div style="display: block;">
                <p style="color:red">Incorrect or invalid name or ID number.</p>
            </div>
        {% endif %}

        <div style="display: block;">
            <input type="text" id="StudentID" name="StudentID" placeholder="Student ID i.e.S00123456">
        </div>
        
        
        <div style="display: block;">
            <input type="text" id="Name" name="Name" placeholder="Name">
        </div>

        <div style="display: block;">
            <button class="submitButton" type="submit">LOGIN</button>
        </div>
        
        <div style="margin-top: 30px;">
            <a class="externalLinks" href="{{ url_for('signup') }}">
                First Time Student
            </a>
            <span style="padding-left: 5px;">|</span>
            <a class="externalLinks" href="{{ url_for('orgLogIn') }}">
                Organization SSO
            </a>
        </div>
        <div style="margin-top: 5px;">
            <a class="externalLinks" href="{{ url_for('main') }}">
                Return to Rattlers Unite
            </a>
        </div>
    </form>
</body>
</html>