{% extends 'base.html' %}

{% block content %}
    <p class="title">Organizations</p>
    <div class="gridmenu">
        {% for o in organizations %}
            <a href="{{ url_for('organizationdetails', id=o['ID']) }}">
                <div class="contentBox">
                    <img class="boxPic" src="https://picsum.photos/200/200"/>
                    <div class="boxDetails">
                        <p class="boxName">{{ o['Name'] }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}