{% extends 'base.html' %}

{% block content %}
    <p class="title">Organizations</p>
    <div class="gridmenu">
        {% for o in organizations %}
            <a href="{{ url_for('profiledetails', id=o['id']) }}">
                <div class="contentBox">
                    <img src={{ o.icon }} class="eventImg"/>
                    <div class="boxDetails">
                        <p class="boxName">{{ o.name|text_limiter }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}