<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <title>Rattlers Unite!</title>
</head>
<body>
    <div class="topnav" stylesheet="">
        <a class="active" href="{{ url_for('main') }}">Home</a>

        <!--if user is not logged in display default login button-->
        <div class="login">
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>

        <div class="login">
            <a href="{{ url_for('portal') }}">Org Portal</a>
        </div>

        <div class="login">
            <a class="active">
                Welcome {{ current_user.name }}!
            </a>
        </div>
    </div>

    {% block content %} 
    {% endblock %}

    {% block category %} 
    {% endblock %}

    <footer>
        <ul>
            <p>Copyright © 2023 Rattlers Unite Team. All rights reserved.
        </ul>
    </footer>
</body>
</html>

