<!DOCTYPE html>
<html lan="en" and dir="Itr">
<head>
    <meta charset = "utf-8">
    <title>Interactive Login Form</title>
    <link rel = "stylesheet" href = "static/css/LogIn.css">
    <script src = "Login.js"></script>
</head>
    
<body>
    
    
    <form class ="box" action="login.html" method = "POST">
        <div class="loginLogo">
            <img src="../static/defaults/STMUlogo.png" height="100px">
        </div>
            <h1>Organization Log In</h1>
        <div style="display: block;">
            <input type = "text" name="OrgID" placeholder = "Organization ID" id = "OrgID" required>
        </div>
        
        
        <div style="display: block;">
            <input type="text" id="Name" name="Name" placeholder="Name">
        </div>

        <div style="display: block;">
            <button class="submitButton" type="submit">LOGIN</button>
        </div>

        <div style="margin-top: 30px;">
            <a class="externalLinks" href="{{ url_for('signup') }}">
                Sign Up
            </a>
            <span style="padding-left: 5px;">|</span>
            <a class="externalLinks" href="{{ url_for('login') }}">
                Student Log In
            </a>
        </div>
        <div style="margin-top: 5px;">
            <a class="externalLinks" href="{{ url_for('main') }}">
                Return to Rattlers Unite
            </a>
        </div>
    </form>
</body>
</html>