<!DOCTYPE html>
<html lan="en" and dir="Itr">
<head>
    <meta charset = "utf-8">
    <title>Interactive Login Form</title>
    <link rel = "stylesheet" href = "static/css/LogIn.css">
    <script src = "Login.js"></script>
</head>
    
<body>
    
    
    <form class ="box" action="login.html" method = "POST">
        
        <h1>
            <img src="static/defaults/STMUlogo.jpg">
        </h1>
        <h2>
            Orginization Log In
        </h2>
        <input type = "text" name="" placeholder = "OrgID" id = "username" required>
        <input type = "password" name="" placeholder = "Password" id = "password" required>
        <input type = "submit" name="" value = "Login" onclick="validate()">
        

        <p class="para-2">
            Don't have an account? <a href="{{ url_for('signup') }}">Sign Up Here</a>
        </p>
        
        <p class = "para-2">
            Not an Orginaztion?<a href = "{{ url_for('login') }}">Student Log in</a>
        </p>

    </form>
    

    <a href = "{{ url_for('main') }}">
        <div class ="container">
            <button class = "btn">Home</button>
        </div>
    </a>
    


</body>




</html>