{% extends 'categories.html' %}

{% block content %}
    <p class="title">Events with Category '{{ category }}'</p>
    <div class="listmenu">
        {% if not noEvents %}
            {% for post in events %}
                {% if post['Category'] == category %}
                    <a href="{{ url_for('eventdetails', id=post['ID']) }}">
                        <div class="contentBox">
                            <img class="boxPic" src="https://picsum.photos/200/200"/>
                            <div class="boxDetails">
                                <p class="boxName">{{ post['Name'] }}</p>
                                <p class="orgName">{{ post['Organization'] }}</p>
                                <p class="eventTime">{{ post['Date']|format_datetime }}</p>
                                <p class="eventTime">Location: {{ post['Location'] }}</p>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="noEvent">
                <div class="textCenter">
                    <p class="noEventText">
                        No events were found with the selected category.
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}