<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up | By Code Info</title>
    <link rel="stylesheet" href="static/css/SignUp.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />

  </head>
  <body>
    <div class="signup-box">
      <h1>Sign Up</h1>
      
      <form method = "POST" action = "/signupMethod">
      <label for="student_id">Student ID:</label>
      <input type="text" id="student_id" name="student_id"><br><br>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name"><br><br>
      <input type="submit" value="Submit">
        
        <p class="para-2">
            Already have an account? <a href="{{ url_for('login') }}">Login here</a>
          </p>
      <closeform></closeform></form>
      
    </div>
    
    
  

  </body>
</html>