
<!DOCTYPE html>
<html lan="en" and dir="Itr">
<head>
    <meta charset = "utf-8">
    <title>Rattlers Unite!</title>
    <link rel ="stylesheet" href = "../static/css/LogIn.css">
</head>
    
<body>
    <form method = "POST" class="box">
        {{ form.csrf_token }}
        <div class="loginLogo">
            <img src="../static/defaults/STMUlogo.png" height="100px">
        </div>
        <h1>Organization Sign-Up</h1>

        <div style="display: block;">
            {% for error in form.username.errors %}
                <span style="color:red; font-size: 14px;">{{ error }}</span><br>      
            {% endfor %}
            {% for error in form.confirm_password.errors %}
                <span style="color:red; font-size: 14px;">{{ error }}</span><br>      
            {% endfor %}
        </div>

        <div style="display: block;">
            {{ form.name }}
        </div>

        <div style="display: block;">
            {{ form.username }}
        </div>
        
        <div style="display: block;">
            {{ form.password }}
        </div>

        <div style="display: block;">
            {{ form.confirm_password }}
        </div>

        <div style="display: block;">
            {{ form.submit(class="submitButton") }}
        </div>
        
        <div style="margin-top: 30px;">
            <p style="font-size: 14px;">
                Already have an account? <a class="externalLinks" href="{{ url_for('login.login') }}">Login</a>
            </p>
        </div>
        <div style="margin-top: 5px;">
            <a class="externalLinks" href="{{ url_for('main_view.main') }}">
                Return to Rattlers Unite
            </a>
        </div>
    </form>
</body>
</html>